div.stock-card {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px
}

p {
    display: flex;
    justify-content: start;
    margin: 5px 0;  
}

h4 {
    font-weight: bold;
    display: flex;
    justify-content: start;
    margin: 5px 0;  
}

#pos-pl {
    color: green;
    font-weight: bold;
}

#neg-pl {
    color: red;
    font-weight: bold;
}